.details-page {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.back-arrow {
	border: none;
	font-size: 1.6em;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.back-arrow:hover {
	background-color: #5555556b;
	border-radius: 6px;
}

.game-details-info {
	margin-top: 2rem;
	margin-bottom: 5rem;
}
