.header-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-container {
	padding: 1.5em 2.5em;
}

.header-search-box {
	width: 100%;
	justify-content: center;
	gap: 0.5em;
	position: relative;
	max-width: 320px;
}

.header-form {
	width: 100%;
	flex-grow: 2;
}

.header-form-input {
	width: 100%;
	height: 57px;
	border-radius: 20px;
	padding-left: 10px;
	border: none;
	filter: drop-shadow(2px 3px 6px #2c2b2b);
}

.header-form-input:focus {
	border: 1px solid #000;
}

.header-user-icons {
	gap: 1.2em;
}

.avatar-icon {
	height: 40px;
	width: 40px;
	border: 1px solid black;
	border-radius: 50%;
}
